*.log
/.claude/
.DS_Store
.env
.phpactor.json
.phpunit.result.cache
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/package-lock.json
/vendor
Thumbs.db
/build/
/coverage/
